<ul
  id="activitybar"
  role="tablist" aria-label="Active View Switcher"
  class="
    flex flex-col
    p-0
    border-r border-r-[--color-border]
  "
>
  <li>
    <label
      for="sidebar-right"
      class="block p-3 leading-none"
    >
      <iconify-icon width="24" height="24" icon="codicon:files" />
    </lable>
  </li>
  <li>
    <button
      popovertarget="explorer"
      class="p-3"
    >
      <iconify-icon width="24" height="24" icon="codicon:search" />
    </button>
  </li>

  <li class="mt-auto">
    <button
      popovertarget="account"
      class="p-3"
    >
      <iconify-icon width="24" height="24" icon="codicon:account" />
    </button>
  </li>
  <li>
    <button
      popovertarget="settings"
      class="p-3"
    >
      <iconify-icon width="24" height="24" icon="codicon:settings-gear" />
    </button>
  </li>
</ul>
