<ul
  id="activitybar"
  role="tablist" aria-label="Active View Switcher"
  class="
    flex flex-col
    p-0
    border-r border-r-[--color-border]
  "
>
  <li>
    <button
      popovertarget="explorer"
      class="p-3"
    >
      <svg width="24" height="24">
        <title>Explorer</title>
        <use href="/codicon.svg#files" />
      </svg>
    </button>
  </li>
  <li>
    <button
      popovertarget="explorer"
      class="p-3"
    >
      <svg width="24" height="24">
        <title>Search</title>
        <use href="/codicon.svg#search" />
      </svg>
    </button>
  </li>

  <li class="mt-auto">
    <button
      popovertarget="account"
      class="p-3"
    >
      <svg width="24" height="24">
        <title>Account</title>
        <use href="/codicon.svg#account" />
      </svg>
    </button>
  </li>
  <li>
    <button
      popovertarget="settings"
      class="p-3"
    >
      <svg width="24" height="24">
        <title>Settings</title>
        <use href="/codicon.svg#settings-gear" />
      </svg>
    </button>
  </li>
</ul>
