<input
  type="checkbox" name="sidebar" checked=""
  id="sidebar-right"
  class="hidden peer"
/>

<nav
  id="explorer"
  role="navigation" aria-label="Primary"
  class="
    flex-1
    w-[250px]
    px-4

    peer-checked:hidden

    md:hidden
    md:peer-checked:block
  "
>
  <div class="py-1 uppercase">Explorer</div>

  <ul class="p-0">
    {% for doc in site.pages %}

    {% endfor %}
    <li>
      <a href="{{ href }}">{{ title }}</a>
    </li>
    <li>
      <details open="">
        <summary>{{ title }}</summary>
        <ul>
          <li>
            <a href="{{ href }}">{{ title }}</a>
          </li>
          <li>
            <a href="/Projects/2">Project 2</a>
          </li>
          <li>
            <a href="/Projects/3">Project 3</a>
          </li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
