<article
  id="welcome"
  class="
    row-start-3 col-start-1
    grid gap-x-32 gap-y-8 place-content-center justify-center
    p-4
    bg-canvas
    border-t border-t-[--color-border]

    content
  "
>
  <header class="md:col-span-2">
    <h1 class="text-5xl m-0 p-0 border-b-0">Trần Nguyễn Sơn</h1>
    <p class="subtitle">Husband, Dad, Code Hobbyist</p>
  </header>

  <div>
    <h2 class="m-0 p-0 border-b-0">Start</h2>
    <ul class="flex flex-col gap-1 p-0 list-none">
      <li>
        <a href="/README.md" class="text-[--color-blue]">About Me</a>
      </li>
      <li>
        <a href="/Projects/README.md" class="text-[--color-blue]">Projects I'm Involved In</a>
      </li>
      <li>
        <a href="/Contact.md" class="text-[--color-blue]">Get in Touch</a>
      </li>
    </ul>

    <h2 class="m-0 mt-4 p-0 border-b-0">Recent</h2>
    <p>You have not viewed anything recently.</p>
  </div>

  <div>
    <h2 class="m-0 p-0 border-b-0">Journal Entries</h2>

    <ul class="flex flex-col gap-4 text-lg m-0 p-0 list-none">
      <li>
        <a href="/Blog/1" class="block px-2 py-1 rounded border border-[--color-border]">
          <span class="">Start Documenting My Life</span>
          <span class="block text-base">With a new website built from scratch</span>
        </a>
      </li>
      <li>
        <a href="/Blog/1" class="block px-2 py-1 rounded border border-[--color-border]">
          <span>TBA</span>
        </a>
      </li>
      <li>
        <a href="/Blog/1" class="block px-2 py-1 rounded border border-[--color-border]">
          <span>TBA</span>
        </a>
      </li>
    </ul>
  </div>

</article>
