<!DOCTYPE html>
<html lang="en" class="h-full font-sans">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="color-scheme" content="dark light" />
  <link href="atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide Atom feed" />
  <title>{{ page.title }}</title>
  <script src="https://cdn.tailwindcss.com/3.4.3"></script>
  <style type="text/tailwindcss">{% include styles.css %}</style>
</head>

<body
  class="
    h-full grid grid-rows-[1fr,auto] grid-cols-[auto,1fr]
    antialiased
  "
>
  <header
    class="
      col-start-1
      flex
      border-r border-r-[--color-border]
    "
  >
    {% include activitybar.html %}

    {% include explorer.html %}
  </header>

  <main
    class="
      col-start-2 row-start-1
      overflow-auto
      grid grid-rows-[auto_auto_1fr]
    "
  >

    {% include breadcrumbs.html %}

    {% include tabs.html %}

    <!--#region Preview -->
    {% include welcome.html %}

    <article
      class="
        row-start-3 col-start-1
        px-12 py-4
        bg-canvas
        border-t border-t-[--color-border]

        content

        empty:hidden
      "
    >{{ content }}</article>
    <!--#endregion-->

    <aside>

    </aside>
  </main>

  <footer
    class="
      col-start-1 col-span-2
      flex justify-between items-center
      border border-[--color-border]
    "
  >
    {% include statusbar.html %}
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>

</body>
</html>
